{% include 'doctor_header.html' %}



    <!-- Start Banner Hero -->
    <div class="banner-wrapper bg-light">
        <div id="index_banner" class="banner-vertical-center-index container-fluid pt-5">

            <!-- Start slider -->
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">

                        <div class="py-5 row d-flex align-items-center">
                            <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                                <h1 style="font-size: 6.5rem;" class="banner-heading">
                                <center><strong style="color: white;">Welcome, {{fns}} </strong> </center>
                                  <br>
                              </h1>
                      
 </center>  
                            </div>
                        </div>

                    </div>
                   
                </div>
                
            </div>
            <!-- End slider -->

        </div>
    </div>
    <!-- End Banner Hero -->



{% include 'footer.html' %}
